/* START CSS for navbar.php page */
.tippytop {
    background-color: #ffffff;
    height: 65px;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}
.phrases {
    position: relative;
    display: inline-block;
    left: 170px;
}
.customnav {
    background-color: #0062cc;
    margin-top: 65px;
    height: 90px;
    color: #ffffff;
}
.customnav a {
    color: #ffffff;
    line-height: 90px;
    margin: 0 15px 0 15px;
}
.customnav i {
    font-size: 40px;
    line-height: 90px;
}
.spatulaholder {
    width: 62px;
    height: 200px;
    background-color: transparent;
    position: absolute;
    top: -7px;
    left: 25px;
}
.handle {
    width: 16px;
    height: 60px;
    border-radius: 5px;
    background-color: #262626;
    position: absolute;
    bottom: 10px;
    left: 23px;
    z-index: 2;
}
.stem {
    width: 10px;
    height: 72px;
    background-color: #d9d9d9;
    position: absolute;
    bottom: 50px;
    left: 26px;
}
.flatend {
    width: 42px;
    height: 60px;
    border-radius: 5px;
    background-color: #d9d9d9;
    position: absolute;
    bottom: 120px;
    left: 10px;
}
.rectangle {
    width: 6px;
    height: 40px;
    border-radius: 2px;
    background-color: #ffffff;
}
#rect1 {
    position: absolute;
    top: 10px;
    left: 6px;   
}
#rect2 {
    position: absolute;
    top: 10px;
    left: 18px;   
}
#rect3 {
    position: absolute;
    top: 10px;
    left: 30px;   
}
.logo {
    font-size: 35px;
    font-family: 'Fugaz One', cursive;
    color: #ffffff;
    text-shadow: 4px -3px 0px #003d80;
}
.logo:hover {
    text-shadow: 4px 3px 0px #000, 9px 8px 0px rgba(0,0,0,0.30);
    text-decoration: none;
}
.fa-bars {
    text-shadow: 4px -3px 0px #003d80;
}
.fa-bars:hover {
    text-shadow: 4px 3px 0px #000, 9px 8px 0px rgba(0,0,0,0.30);
    text-decoration: none;    
}
.secondarynav {
    background-color: #0062cc;
    height: 30px;
    display: none;
}
.secondarynav a {
    color: #ffffff;
    /*line-height: 0px;*/
    margin: 0 10px 0 10px;
}
/* END CSS for navbar.php page */

/* START CSS for ads.index.php page */
.adsindexpagebody {
    background-color: #F5F5F1;
    /*background-image: url(/img/spatula_icon_transparent50.png), linear-gradient(to right, rgba(30, 75, 115, 1),  rgba(255, 255, 255, 0));*/
    background: url(../img/spatula_icon_transparent50.png), linear-gradient(45deg, #0062cc, #F5F5F1);
    /*background-repeat: repeat, no-repeat;*/
    /*background-position: top left, right;*/
}
.bottomline {
    margin-top: 10px;
    border: 1px solid #0062cc;
    border-radius: 10px;
    margin-bottom: 20px;
    height: 40px;
    line-height: 40px;
    background: linear-gradient(75deg, #808080, white, #808080);
}
.note {
    font-size: 18px;
}
.blue {
    color: #0062cc;
}
.sidebar {
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #007bff;
    border-radius: 5px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.priceTag {
    background-color: #007bff;
    color: white;
}
.forcategories {
    margin: 4px 25px;
}
.bigboxtop {
    width: 600px;
    height: 45px;
    margin: 0 auto;
    background-color: #000000;
}
.bigboxtop > h1 {
    margin: 0;
}
.boxtitle {
    height: 80px;
    color: #007bff;
    font-family: 'Lobster', cursive;
    font-size: 38px;
    font-weight: bold;
    background: linear-gradient(330deg, #e05252 0%, #99e052 25%, #52e0e0 50%, #9952e0 75%, #e05252 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.bigbox {
    width: 600px;
    height: 225px;
    margin: 0px auto 20px;
    position: relative;
    overflow: hidden;
}
.adSquare {
    width: 200px;
    height: 200px;
    border: 1px solid #d9d9d9;
    background-color: #ffffff;
    border-radius: 5px;
    display: inline-block;
    margin: 0 10px 20px 10px;
    position: relative;
    overflow: auto;
}
.forimages {
    width: 170px;
    height: 125px;
    margin: 10px auto;
    overflow: hidden;
}
/* END CSS for ads.index.php page */

/* START SHARED CSS */
.clearthetop {
    margin-top: 10px;
}
.radiomargin {
    margin-left: 10px;
}
.formmargin {
    margin-bottom: 10px;
}
.methodmargin {
    margin-top: 15px;
    margin-bottom: 5px;
}
.red {
    color: #e60000; /* Makes the error exceptions red. */
}
.yellow {
    background-color: #ffffb3;
}
.checkboxmargin {
    margin: 0 45px;
}
/* END SHARED CSS */

/* START CSS for ads.show.php page */
.titlemargin {
    margin-bottom: 25px;
}
.adsshowimg {
    border: 1px solid #d9d9d9;
    box-shadow: 5px 5px 5px #d9d9d9;
    margin: 0 auto 20px;
}
.smallertext {
    font-size: 13px;
    font-weight: normal;
}
.saletext {
    font-size: 13px;
    color: #b30000;
    font-weight: bold;
}
.twolines {
    width: 100%;
    height: 50px;
    border-top: 2px solid #d9d9d9;
    border-bottom: 2px solid #d9d9d9;
    margin-bottom: 20px;
    font-size: 17px;
    color: #999999;
    line-height: 48px;
}
.blankspace {
    width: 100%;
    font-size: 17px;
    margin-bottom: 20px;
}
.green {
    color: #269900;
}
.redorange {
    color: #994c00;
}
.greybox {
    width: 100%;
    background-color: #d9d9d9;
    margin-bottom: 20px;
    padding: 20px;
}
.smallgray {
    font-size: 13px;
    color: #999999;
}
.finalnotes {
    width: 100%;
    height: 70px;
    position: relative;
    margin: 0 0 10px 0;
}
.finalleft {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 23%;
    height: 70px;
    border-right: 2px solid #d9d9d9;
    line-height: 68px;
    color: #999999;
}
.finalright {
    position: absolute;
    top: 14px;
    left: 98px;
    width: 70%;
    height: 70px;
    font-size: 10px;
    color: #999999;
}
/* END CSS for ads.show.php page */

/* START CSS for ads.create.php page */
    /* Look under SHARED CSS in this file for this page's CSS. */
/* END CSS for ads.create.php page */

/* START CSS for ads.edit.php page */
.dontdisplay {
    display: none; /* This makes user_id input on the form invisible in the HTML. It is needed to query on db. */
}
/* END CSS for ads.edit.php page 