/*Names used in more than one file*/
	#box {
		/*background-color: <?=$boxcolor['boxcolor']?>;*/
		width: 200px;
		height: 200px;
		margin-left: 42%;
		border: 5px solid black;
		text-align: center;
	}
	/*lines up the email input with everything else*/
	#em {
	    margin-left: 30px;
	}
	#ph {
		margin-left: -30px;
	}
	.error {
		text-align: center;
		color: red;
		text-shadow: 1px 1px 1px black;
		font-size: 20px;
	}
	.success {
		text-align: center;
		color: green;
		text-shadow: 1px 1px 1px black;
		font-size: 20px;
	}
	.message {
		color: green;
		text-shadow: 1px 1px 1px black;
		font-size: 20px;
	}
	#forgot {
		text-decoration: none;
		color: white;
	}
/*users.create.php*/
	/*centers the forms*/
	.signuphead {
	    text-align: center;
	    margin-top: 0px;
	}
	/*lines up the confirm password input with everything else*/
	#confirm1 {
	    margin-left: -60px;
	}
	/*lines up the box color selector with everything else*/
	#select {
	    margin-left: -150px;
	}
	#secq {
		display: inline-block;
	}
/*users.edit.php*/
	#conf {
		margin-right: 25px;
	}
	.edit {
	    text-align: center;
	}
	#confirm2 {
	    margin-left: -90px;
	}
	#updateicon {
		margin-left: 0%;
	}
	#updatecolor {
		margin-left: 0%;
	}
	#updrop {
		margin-left: 5.5%;
	}
/*users.show.php*/
	/*Centers all text except for the footer*/
	.show {
		text-align: center;
		margin-top: 50px;
	}
	/*Takes all dots off of the lists*/
	ul {
		list-style-type: none;
	}
	/*Styling for the link to the edit profile page*/
	#editprofile {
		background-color: skyblue;
		color: white;
		padding: 10px;
		margin-left: 40%;
		margin-right: 40%;
		margin-top: -10px;
		text-decoration: none;
		box-shadow: 5px 5px 5px black;
	}
	#editprofile:hover {
		background-color: blue;
	}
	#logout {
		background-color: #FF6666;
		color: white;
		padding: 10px;
		margin-left: 40%;
		margin-right: 40%;
		margin-top: 0px;
		text-decoration: none;
		box-shadow: 5px 5px 5px black;
	}
	#logout:hover {
		background-color: red;
	}
	#deleteprofile {
		background-color: maroon;
		color: white;
		padding: 10px;
		margin-left: 40%;
		margin-right: 40%;
		margin-top: 0px;
		text-decoration: none;
		box-shadow: 5px 5px 5px black;
	}
	#deleteprofile:hover {
		background-color: black;
	}
	/*The User's box. When we add PHP, the color will be whatever the user specifies*/
	
	body > .showads {
		border: 5px double black;
		background-color: #C0C0C0;
		margin-left: 25%;
		margin-right: 25%;
		text-align: center;
	}
	body > .show {
		text-align: center;
	}
	.textinfrontofbackground {
		color: white;
	}
	#createads {
		background-color: #FF9933;
		color: white;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 7%;
		padding-right: 7%;
		margin-left: 28%;
		margin-right: 31%;
		margin-top: -30px;
		text-decoration: none;
		box-shadow: 5px 5px 5px black;
		position: relative;
	}
	#createads:hover {
		background-color: #FF6600;
	}
	#editads {
		background-color: #00CC66;
		color: white;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 6%;
		padding-right: 6%;
		margin-left: 28%;
		margin-right: 31%;
		margin-top: -30px;
		text-decoration: none;
		box-shadow: 5px 5px 5px black;
	}
	#editads:hover {
		background-color: green;
	}
	.login_container{
        margin-top: 70px;
    }
    .failure {
        color: red;
        text-shadow: 1px 1px 1px black;
        font-size: 20px;
        margin-left: 10%;
        margin-bottom: -5%;
    }
	#image {
        width: 250px;
        margin-left: 15%;
    }
    #icon {
        position: relative;
        margin-top: 10px;
    }
    .visittheprofile {
    	background-color: skyblue;
    	color: white;
    	padding: 5px;
    	text-decoration: none;
    	box-shadow: 5px 5px 5px black;
    }
    .visittheprofile:hover {
    	text-decoration: none;
    	background-color: blue;
    	color: white;
    }